// Color
$primary-color          : #108ee9;
$success-color          : #87d068;
$error-color            : #f50;
$highlight-color        : #f50;
$warning-color          : #fa0;
$normal-color           : #d9d9d9;

$black:rgba(0,0,0,.5);
$grey:#f1f1f1;
$blue: #4032ff;
$grey_normal:#e9e9e9;
$deep_grey : #ddd;
$dark-grey: #777;

$design-gutter:8px;
$design-gutter_large:16px;

$content-body-max-width : 1500px;
$content-body-min-width : 800px;