
.service-buy-order-detail{
  .content{
    >div{
      margin:12px 0;
      color: #666666;
      font-size: 14px;
      height: 32px;
      label{
        display: inline-block;
        width: 100px;
        text-align: right;
        margin-right: 15px;
        font-size: 14px;
        color: #666666;

      }
    }
  }
}