
@import "../../../styles/common";
@import "../../../styles/variable";

.inquiry-advanced{

  .ant-spin-container{
    padding: 3px;
  }

  .data-group{
    overflow: hidden;
    border-top:1px solid $grey_normal;
    margin-top: 25px;
    padding-top: 15px;


    .pull-right{
      margin-top: 8px;
    }

    .data-group-item{
      position: relative;
      padding-left: 52px !important;
      .data-item-icon{
        position: absolute;
        left: 12px;
      }
      .data-item-txt{
        color: #9e9e9e;
      }
      .data-item-num{
        font-weight: 700;
        color: #5a5a5a;
      }
      .data-item-icon{
        margin-right: 10px;
      }

      &:first-child{

        border-right:1px solid $grey_normal;
      }
    }
  }
}



.advanced-container{
  form{
    padding-bottom: 100px;
  }

  .search-action-bar{
    float: right;
    .ant-form-item-label{
      visibility: hidden;
    }
  }
  .date-select-group{
    .ant-calendar-picker{
      width: 100%;
    }
    .ant-select-selection{
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .ant-calendar-picker-input{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 0;
    }
  }
}

.range-picker-error-msg{
  color: #ff0000;
  position: absolute;
  height: 0;
  margin-top: -5px;
}