@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
    padding: 0;
    padding-bottom: 4em;
  }

  #into_a input.form-control,
  #into_a select.form-control {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  #into_a input.form-control:focus,
  #into_a select.form-control:focus {
    border-color: transparent;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #into_a .header {
    display: block;
  }
  #into_a .header h4 {
    display: block;
    padding: .5em 0;
    margin: 0;
    margin-bottom: 6px;
    background: #333;
  }
  #into_a .header h4 p {
    color: #fff;
    font-size: 12px;
    margin-left: 10px;
    font-weight: bold;
  }
  #into_a .header .row {
    padding: 0 10px;
  }
  #into_a .header .row li {
    overflow: hidden;
    margin-bottom: 0.5em;
    padding: 0.5em 0;
  }
  #into_a .header .row li label {
    display: block;
    line-height: 28px;
    margin-bottom: 0;
  }
  #into_a .header .row li input {
    padding-left: 10px;
    margin-bottom: 0;
  }
  #into_a .header .row p {
    display: none;
  }
  #into_a .header .row > li:first-child {
    border-bottom: 1px solid #eee;
  }
  form .jinJ,
  form .salesman,
  form .disnone {
    padding: 0;
  }
  #into .jinJ > p {
    text-align: left;
    padding-left: 10px;
    line-height: normal;
    margin-bottom: 10px;
    font-size: 14px;
    color: #999;
  }
  #into .jinJ .pay,
  #into .jinJ .zhif_sold,
  #into .jinJ .companyX,
  #into .jinJ .sold,#into .jinJ .signingUl {
    float: left;
    width: 100%;
    padding-left: 10px;
    border-bottom: 1px solid #eee;
  }
  #into .jinJ .pay li,
  #into .jinJ .zhif_sold li,
  #into .jinJ .companyX li,
  #into .jinJ .sold li,#into .jinJ .signingUl li {
    padding: 0;
    margin-right: 1em;
  }
  #into .jinJ .pay li label,
  #into .jinJ .zhif_sold li label,
  #into .jinJ .companyX li label,
  #into .jinJ .sold li label,#into .jinJ .signingUl li label {
    width: 100px;
  }
  #into .jinJ .ref {
    background: none;
    border: none;
    padding: 0;
    margin-bottom: 0;
  }
  #into .jinJ .ref p {
    background: #E4FCED;
    color: #5CAE7C;
    padding: 5px 10px;
  }
  #into .jinJ .ref li {
    padding: 0 0 0 10px;
    overflow: hidden;
    border: none;
    float: none;
    border-radius: 0;
    margin-right: 0;
    border-bottom: 1px solid #eee;
  }
  #into .jinJ .ref li label {
    text-align: left;
    display: block;
    line-height: normal;
    padding-top: 7px;
  }
  #into .jinJ .ref li input {
    margin-bottom: 0.5em;
  }
  #into .jinJ .ref li:last-child {
    margin-top: 12px;
    border-bottom: none;
  }
  #into .salesman ul {
    padding-left: 0;
  }
  #into .salesman ul li {
    padding-left: 10px;
    padding-top: .5em;
    border-bottom: 1px solid #eee;
    overflow: hidden;
  }
  #into .salesman ul li label {
    display: block;
    line-height: normal;
    padding-top: 7px;
  }
  #into .salesman ul li input {
    margin-bottom: 0.5em;
  }
  #into .salesman ul li:last-child {
    border-bottom: none;
  }
  #into .disnone ul {
    padding-left: 0;
  }
  #into .sheB .sheBli {
    padding-left: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
  }
  #into .sheB .sheBli label {
    display: block;
    line-height: 28px;
  }
  #into .sheB .sheBli p {
    height: 28px;
  }
  #into .sheB .sheBli input {
    margin-bottom: 0;
  }
  #into .sheB_after {
    display: block;
    text-align: center;
  }
  #into .sheB_after img {
    cursor: pointer;
  }
  #into .sheB_before {
    display: none;
  }
  #into button {
    width: 100%;
    margin-left: 0;
    border-radius: 0;
  }
  #into input[type="checkbox"] {
    margin-right: 0;
  }
  #into ul li img {
    width: 20px;
    height: 20px;
  }
  #into .sheB li span,
  #into .sheB li p {
    line-height: 28px;
  }
  .header {
    display: none;
  }
  form .form-group > h4 {
    padding: .5em 0;
    margin: 0;
    margin-bottom: 1em;
    background: #333;
  }
  form .form-group > h4 span {
    display: none;
  }
  form .form-group > h4 p {
    color: #fff;
    font-size: 12px;
  }
  .container {
    padding: 0;
  }
  .msg div,
  .pic div {
    width: 80%;
    margin-left: 10%;
    margin-top: 30%;
  }
  .form-control {
    font-size: 12px;
    height: 28px;
  }
  .Input label {
    font-size: 12px;
  }
  .img-li p > span {
    font-size: 14px;
  }
  #into_b .header {
    display: block;
    padding: 0;
    margin-bottom: 0;
  }
  #into_b .header p {
    line-height: 20px;
  }
  #into_b .header .remak {
    border-top: none;
    padding-bottom: 1em;
    margin-bottom: 1em;
  }
  #into_b .header .mobile_row {
    display: block;
    background: #E6E6E6;
    margin: 0;
  }
  #into_b .header .mobile_row p {
    margin-left: 1em;
  }
  #into_b .header .pc_row {
    display: none;
  }
  #into_detail > div.form-group {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
  #into_b .into_center {
    padding: 0;
  }
  #into_b .groupList {
    height: 34px;
  }
  #into_b .groupList .Lp {
    display: none;
  }
  #into_b .groupList .Ldiv {
    line-height: 34px;
    height: 34px;
    box-sizing: border-box;
    display: none;
  }
  #into_b .groupList div.Ldiv:first-child {
    display: block;
  }
  #into_b .btnL {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
  }
  #into_b .btnL input[type='button'] {
    width: initial;
    margin-left: 0.5em;
  }
  #into_detail .Input {
    padding: 0 1em;
  }
  #into_detail .Input .control-label {
    padding-right: .3em;
    line-height: normal;
    padding-top: 7px;
    color: #031e48;
    font-weight: bold;
    margin-top: 5px;
  }
  #into_detail .Input .control-label i > a img {
    height: 20px;
    width: 20px;
  }
  #into_detail .Input li.form-group {
    border-bottom: 1px solid #eee;
    padding: 0;
    overflow: hidden;
  }
  #into_detail .Input li.form-group input,
  #into_detail .Input li.form-group select {
    margin-bottom: .5em;
    margin-top: 0.5em;
  }
  #into_detail .Input li.form-group div[data-toggle='modal'] {
    margin-left: 0;
    margin-bottom: 10px;
  }
  #into_detail .Input li.form-group > a img {
    height: 20px;
    width: 20px;
  }
  #into_detail .Input li.form-group .colseI {
    display: none;
  }
  #into_detail .Input li.form-group div.btn[data-toggle='modal'] {
    display: none;
  }
  #into_detail .Input li.form-group div.col-xs-12 {
    display: block;
    cursor: pointer;
  }
  #into_detail .Input li.form-group .divSpan {
    display: none;
  }
  #into_detail .Input li.form-group a.iframeA {
    display: block;
  }
  #into_detail .Input li.form-group a.pc_a {
    display: none;
  }
  #into_detail .Input li p.Verr {
    line-height: normal;
    height: 17px;
    margin-bottom: .5em;
  }
  #into_detail .Input li p.col-xs-offset-3 {
    margin-left: 0;
  }
  #into_detail .Input .liLabel {
    margin-top: 1em;
  }
  #into_detail .img-li {
    padding: 0 1em;
  }
  #into_detail .img-li li {
    padding: 0;
    height: 140px;
    width: 100%;
    position: relative;
    margin-bottom: 1em;
    border-bottom: 1px solid #eee;
  }
  #into_detail .img-li li form {
    float: right;
    width: 120px;
    height: 130px;
    margin-right: 0;
  }
  #into_detail .img-li li form div:first-child {
    width: 120px;
    height: 130px;
  }
  #into_detail .img-li li form .divbtn .btn {
    margin-left: 5px;
  }
  #into_detail .img-li li div.left {
    width: 170px;
  }
  #into_detail .img-li li div.left :first-child {
    text-align: left;
  }
  #into_detail .img-li li div.left .placeH {
    margin: 1em 0;
    color: #999;
    padding: 0;
    width: 170px;
  }
  #into_detail .img-li li div.left > a {
    position: absolute;
    bottom: 0;
    left: 1em;
  }
  #into_detail .img-li li div.left a.iframeA {
    display: block;
  }
  #into_detail .img-li li div.left a.pc_a {
    display: none;
  }
  #into_detail .img-li .zindex div {
    margin-left: 0;
    margin-top: 15%;
  }
  #basic .img-li li:last-child,
  #locations .img-li li:last-child,
  #personal_profiles .img-li li:last-child,
  #sold_account_profiles .img-li li:last-child,
  #additions .img-li li:last-child,
  #agreement .img-li li:last-child {
    border-bottom: none;
  }
  #basic .Input li.form-group:last-child,
  #locations .Input li.form-group:last-child,
  #personal_profiles .Input li.form-group:last-child,
  #sold_account_profiles .Input li.form-group:last-child,
  #additions .Input li.form-group:last-child,
  #agreement .Input li.form-group:last-child {
    border-bottom: none;
  }
}
