

.service-agent-detail{

  .ant-steps{
    padding: 50px 200px;
  }
  .item{
    border-bottom: 1px solid #ececec;
    .item-title{
      border-left:3px solid #00b6f0;
      padding-left: 10px;
      margin:15px 0;
    }
  }
}